<div style="text-align: center; background-color: #f0f0f0; padding: 10px;">
    <h1 style="color: #333;">Webscrapping Files</h1>
</div>

In [1]:
import pandas as pd

### Loading table:1 data of All the Website

In [2]:
nike1 = pd.read_csv("E:\\capstone project\\File 1\\Table wise CSV For each website\\Nike\\nike_Table1.csv")
adidas1 = pd.read_csv("E:\\capstone project\\File 1\\Table wise CSV For each website\\Adidas\\adidas_Table1.csv")
puma = pd.read_csv("E:\\capstone project\\File 1\\Table wise CSV For each website\\Puma\\puma_Table1.csv")
skechers = pd.read_csv("E:\\capstone project\\File 1\\Table wise CSV For each website\\Skechers\\skechers_Table1.csv")
columbia = pd.read_csv("E:\\capstone project\\File 1\\Table wise CSV For each website\\Columbia\\colombia_Table1.csv")
woodland = pd.read_csv("E:\\capstone project\\File 1\\Table wise CSV For each website\\Woodland\\Woodland_Table1.csv")

In [3]:
# Combining all the dataframe to create one dataframe named table 1
Table_1 = pd.concat([nike1, adidas1, puma, skechers, columbia, woodland], axis=0)
Table_1

         Brand                     Shoename Category  No.Of_colors      Price
0         Nike              Air Force 1 '07      Men           2.0   7 495.00
1         Nike                    Air Max 1      Men           5.0  12 795.00
2         Nike                   Air Max 90      Men           1.0  11 895.00
3         Nike            Jordan Max Aura 5      Men           5.0  11 895.00
4         Nike     Air Force 1 '07 Pro Tech      Men           3.0  13 995.00
...        ...                          ...      ...           ...        ...
2435  Woodland        DBLUE Casual Sneakers      Men           1.0      2 497
2436  Woodland       Red Ankle Strap Sandal      Men           1.0      2 000
2437  Woodland         Grey Slip-On Sneaker      Men           1.0      4 197
2438  Woodland  Woodland Khaki Casual Shoes      Men           1.0      2 747
2439  Woodland         Grey Sneaker For Men      Men           1.0      3 497

[10595 rows x 5 columns]

In [4]:
Table_1.rename(columns={'No.Of_colors': 'no_of_colors'}, inplace=True)

In [5]:
Table_1['Category'] = Table_1['Category'].replace(['MEN\'S', 'mens'], 'Men')
Table_1['Category'] = Table_1['Category'].replace(['WOMEN\'S', 'womens'], 'Women')

In [6]:
#Saving table1 as csv
Table_1.to_csv('Table_1.csv', index=False)

### Loading table:2 data of All the Website

In [7]:
nike2 = pd.read_csv("E:\\capstone project\\File 1\\Table wise CSV For each website\\Nike\\nike_Table2.csv")
adidas2 = pd.read_csv("E:\\capstone project\\File 1\\Table wise CSV For each website\\Adidas\\adidas_Table2.csv")
puma2 = pd.read_csv("E:\\capstone project\\File 1\\Table wise CSV For each website\\Puma\\puma_Table2.csv")
skechers2 = pd.read_csv("E:\\capstone project\\File 1\\Table wise CSV For each website\\Skechers\\skechers_Table2.csv")
columbia2 = pd.read_csv("E:\\capstone project\\File 1\\Table wise CSV For each website\\Columbia\\colombia_Table2.csv")
woodland2 = pd.read_csv("E:\\capstone project\\File 1\\Table wise CSV For each website\\Woodland\\Woodland_Table2.csv")

In [8]:
# Combining all the dataframe to create one dataframe named table 1
Table_2 = pd.concat([nike2, adidas2, puma2, skechers2, columbia2, woodland2], axis=0)
Table_2

     Count_of_sizes                           Name_ of_colors   Product_code
0              13.0                               White/White     CW2288-111
1              17.0   White/Photon Dust/Black/University Blue     FD9082-103
2              13.0  Anthracite/Black/Mystic Red/Summit White     FB9658-001
3              15.0         White/Varsity Red/Wolf Grey/Black     DZ4353-101
4              17.0           Light Silver/Clear/Light Silver     FB8875-002
...             ...                                       ...            ...
2435            6.0                                     DBLUE  FGC0AI024031B
2436            2.0                                       RED  FLF0180Z7602A
2437            6.0                                      GREY  FLC0H40U3332A
2438            2.0                                     KHAKI  FGC013005491E
2439            2.0                                      GREY  FGC0260U3112A

[10595 rows x 3 columns]

In [9]:
#Saving table2 as csv
Table_2.to_csv('Table_2.csv', index=False)

### Loading table:3 data of All the Website

In [10]:
nike3 = pd.read_csv("E:\\capstone project\\File 1\\Table wise CSV For each website\\Nike\\nike_Table3.csv")
adidas3 = pd.read_csv("E:\\capstone project\\File 1\\Table wise CSV For each website\\Adidas\\adidas_Table3.csv")
puma3 = pd.read_csv("E:\\capstone project\\File 1\\Table wise CSV For each website\\Puma\\puma_Table3.csv")
skechers3 = pd.read_csv("E:\\capstone project\\File 1\\Table wise CSV For each website\\Skechers\\skechers_Table3.csv")
columbia3 = pd.read_csv("E:\\capstone project\\File 1\\Table wise CSV For each website\\Columbia\\colombia_Table3.csv")
woodland3 = pd.read_csv("E:\\capstone project\\File 1\\Table wise CSV For each website\\Woodland\Woodland_Table3.csv")

In [11]:
# Combining all the dataframe to create one dataframe named table 1
Table_3 = pd.concat([nike3, adidas3, puma3, skechers3, columbia3, woodland3], axis=0)
Table_3

,Review,Size,Comfort,Features,star_rating
0,1311.0,"['7', '7.5', '8', '8.5', '9', '9.5', '10', '10...",The stitched overlays on the upper add heritag...,LEGENDARY STYLE REFINED.\n\nThe radiance lives...,NaN
1,88.0,"['6', '6.5', '7', '7.5', '8', '8.5', '9', '9.5...","Plush and comfortable, the Max Air cushioning ...",\nMeet the leader of the pack. Walking on clo...,4.8
2,3.0,"['7', '7.5', '8', '8.5', '9', '9.5', '10', '10...",The textile upper with leather and synthetic o...,\nLace up and feel the legacy in this champio...,4.7
3,22.0,"['7', '7.5', '8', '8.5', '9', '9.5', '10', '10...",Nike Air-Sole units provide lightweight cushio...,"\nWhenyou need a shoe that's ready 24/7, it's...",NaN
4,8.0,"['6', '6.5', '7', '7.5', '8', '8.5', '9', '9.5...",The leather upper with stitched overlays ages ...,\nThe radiance lives on in the Air Force 1 '0...,4.6
...,...,...,...,...,...
2435,NaN,"['36', '37', '38', '39', '40', '41']",Dark blue lightweight high-ankle casual sneake...,Dark blue lightweight high-ankle casual sneake...,NaN
2436,NaN,"['40', '41']",High heel Closed-toe Ankle-strap,A stand-out red sandal from Woods features poi...,NaN
2437,NaN,"['36', '37', '38', '39', '40', '41']",Slip-on Pull tab Fabric upper Knit constructio...,Modern sneaker with a knit construction around...,NaN
2438,NaN,"['39', '45']",Rubber Sole Elephant print Anti corrosive meta...,Woodland offers versatile round toe lace-up lo...,NaN
2439,NaN,"['41', '42']",Synthetic upper Lace-up Rust free metal eyelet,An eye catching grey colour sneaker from Woods...,NaN

In [12]:
#Saving table3 as csv
Table_3.to_csv('Table_3.csv', index=False)

## Creating Single DataFrame

In [13]:
shoe_brand = pd.concat([Table_1, Table_2, Table_3], axis=1)
shoe_brand

,Brand,Shoename,Category,no_of_colors,Price,Count_of_sizes,Name_ of_colors,Product_code,Review,Size,Comfort,Features,star_rating
0,Nike,Air Force 1 '07,Men,2.0,7 495.00,13.0,White/White,CW2288-111,1311.0,"['7', '7.5', '8', '8.5', '9', '9.5', '10', '10...",The stitched overlays on the upper add heritag...,LEGENDARY STYLE REFINED.\n\nThe radiance lives...,NaN
1,Nike,Air Max 1,Men,5.0,12 795.00,17.0,White/Photon Dust/Black/University Blue,FD9082-103,88.0,"['6', '6.5', '7', '7.5', '8', '8.5', '9', '9.5...","Plush and comfortable, the Max Air cushioning ...",\nMeet the leader of the pack. Walking on clo...,4.8
2,Nike,Air Max 90,Men,1.0,11 895.00,13.0,Anthracite/Black/Mystic Red/Summit White,FB9658-001,3.0,"['7', '7.5', '8', '8.5', '9', '9.5', '10', '10...",The textile upper with leather and synthetic o...,\nLace up and feel the legacy in this champio...,4.7
3,Nike,Jordan Max Aura 5,Men,5.0,11 895.00,15.0,White/Varsity Red/Wolf Grey/Black,DZ4353-101,22.0,"['7', '7.5', '8', '8.5', '9', '9.5', '10', '10...",Nike Air-Sole units provide lightweight cushio...,"\nWhenyou need a shoe that's ready 24/7, it's...",NaN
4,Nike,Air Force 1 '07 Pro Tech,Men,3.0,13 995.00,17.0,Light Silver/Clear/Light Silver,FB8875-002,8.0,"['6', '6.5', '7', '7.5', '8', '8.5', '9', '9.5...",The leather upper with stitched overlays ages ...,\nThe radiance lives on in the Air Force 1 '0...,4.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2435,Woodland,DBLUE Casual Sneakers,Men,1.0,2 497,6.0,DBLUE,FGC0AI024031B,NaN,"['36', '37', '38', '39', '40', '41']",Dark blue lightweight high-ankle casual sneake...,Dark blue lightweight high-ankle casual sneake...,NaN
2436,Woodland,Red Ankle Strap Sandal,Men,1.0,2 000,2.0,RED,FLF0180Z7602A,NaN,"['40', '41']",High heel Closed-toe Ankle-strap,A stand-out red sandal from Woods features poi...,NaN
2437,Woodland,Grey Slip-On Sneaker,Men,1.0,4 197,6.0,GREY,FLC0H40U3332A,NaN,"['36', '37', '38', '39', '40', '41']",Slip-on Pull tab Fabric upper Knit constructio...,Modern sneaker with a knit construction around...,NaN
2438,Woodland,Woodland Khaki Casual Shoes,Men,1.0,2 747,2.0,KHAKI,FGC013005491E,NaN,"['39', '45']",Rubber Sole Elephant print Anti corrosive meta...,Woodland offers versatile round toe lace-up lo...,NaN
2439,Woodland,Grey Sneaker For Men,Men,1.0,3 497,2.0,GREY,FGC0260U3112A,NaN,"['41', '42']",Synthetic upper Lace-up Rust free metal eyelet,An eye catching grey colour sneaker from Woods...,NaN

In [23]:
#Cleaning Data
shoe_brand[shoe_brand['Shoename'].isnull()]

,Brand,Shoename,Category,no_of_colors,Price,Count_of_sizes,Name_ of_colors,Product_code,Review,Size,Comfort,Features,star_rating
665,Nike,NaN,Women,NaN,3 797.00,13.0,Platinum Tint/Wolf Grey/Chile Red/Summit White,CW3411-004,42.0,"['7', '7.5', '8', '8.5', '9', '9.5', '10', '10...",We're working to ditch the double box and disp...,LIGHTWEIGHT SUPPORT THAT LASTS THROUGHOUT THE ...,4.5
1957,Nike,NaN,Women,NaN,2 467.00,NaN,NaN,NaN,NaN,NaN,NaN,"LEGENDARY COMFORT, REMASTERED.\n\nFrom the bea...",NaN
2487,Nike,NaN,Women,0.0,NaN,NaN,Multi-Colour/Multi-Colour/Multi-Colour/Multi-C...,DX5388-900,NaN,NaN,NaN,NaN,NaN
2488,Nike,NaN,Women,6.0,NaN,NaN,Multi-Colour/Multi-Colour/Multi-Colour/Multi-C...,DX5388-900,NaN,NaN,NaN,NaN,NaN
2489,Nike,NaN,Women,6.0,NaN,NaN,Multi-Colour/Multi-Colour/Multi-Colour/Multi-C...,DX5388-900,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2332,Woodland,NaN,Men,NaN,NaN,NaN,NaN,FGC0Y9039132A,NaN,NaN,NaN,NaN,NaN
2359,Woodland,NaN,Men,NaN,NaN,NaN,NaN,FGF0FX041911A,NaN,NaN,NaN,NaN,NaN
2372,Woodland,NaN,Men,NaN,NaN,NaN,NaN,FGC0CG043671A,NaN,NaN,NaN,NaN,NaN
2387,Woodland,NaN,Men,NaN,NaN,NaN,NaN,FLC0340V3862A,NaN,NaN,NaN,NaN,NaN
2395,Woodland,NaN,Men,NaN,NaN,NaN,NaN,FGC0Z7041612A,NaN,NaN,NaN,NaN,NaN

In [26]:
shoe_brand.dropna(subset=['Shoename'], inplace=True)

In [27]:
shoe_brand[shoe_brand['Price'].isnull()]

,Brand,Shoename,Category,no_of_colors,Price,Count_of_sizes,Name_ of_colors,Product_code,Review,Size,Comfort,Features,star_rating
111,Nike,Shox TL,Women,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
135,Nike,Shox TL,Women,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
151,Nike,Adjust Force,Women,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
305,Nike,Zoom Vomero 5 Premium,Unisex,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
329,Nike,Zoom Vomero 5 Premium,Unisex,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
985,Nike,Gripknit Phantom GX Elite Dynamic Fit FG By You,Unisex,2.0,NaN,NaN,Multi-Colour/Multi-Colour,DX5266-902,NaN,NaN,NaN,NaN,NaN
986,Nike,Phantom GX Academy Dynamic Fit MG By You,Unisex,5.0,NaN,NaN,Multi-Colour/Multi-Colour/Multi-Colour,DX5260-900,NaN,NaN,NaN,NaN,NaN
987,Nike,Mercurial Vapor 15 Academy By You,Unisex,6.0,NaN,NaN,Multi-Colour/Multi-Colour,FN6753-900,NaN,NaN,NaN,NaN,NaN
988,Nike,Phantom Luna FG By You,Women,6.0,NaN,NaN,Multi-Colour/Multi-Colour,FJ4831-900,NaN,NaN,NaN,NaN,NaN
989,Nike,Mercurial Vapor 15 Elite By You,Unisex,6.0,NaN,NaN,Multi-Colour/Multi-Colour,FN6749-906,NaN,NaN,NaN,NaN,NaN

In [31]:
shoe_brand.shape

(10437, 13)

In [32]:
#Saving as csv
shoe_brand.to_csv('shoe_brand.csv')